.MessageDate {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
}

.SendMessage {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 20px;
  margin-bottom: 24px;
}

.SendMessageInput {
  width: 100%;
  padding: 16px 60px 16px 12px;
  margin-left: 28px;
  margin-right: 28px;
}

.SendMessage button {
  background-color: transparent;
  border: none;
}

.MessageBubble {
  border: 1px solid #ccc;
  border-radius: 24px;
  padding: 12px 20px;
  margin-bottom: 12px;
}
